---
version: "3"
services:
  motionui:
    container_name: motionui
    image: motionui-image
    privileged: true
    network_mode: host
    environment:
      FQDN: motionui.example.com
    build:
      context: .
      dockerfile: Dockerfile
      args:
        branch: main
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/lib/docker/volumes/motionui-data:/var/lib/motionui
      - /var/lib/docker/volumes/motionui-captures:/var/lib/motion
