@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif !important;
    margin: 0px;
    padding: 0px;
    background-color: #112334;
    color: white;
    overflow-y: auto;
}

h3 {
    margin-left: auto;
    margin-right: auto;
}

.config-table {
    border-collapse: separate;
    border-spacing: 4px 0px;
}

.rename-motion-conf-input {
    background-color: #112334 !important;
}

.notification-count {
    position: absolute;
    right: -9px;
    top: -9px;
    border: none;
    border-radius: 2px;
    color: white;
    background-color: #ff0044;
    padding: 1px 3px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
}

.param-slide {
    width: 90%;
}

.action, .alert-success, .alert-error, .confirmAlert {
    grid-template-columns: repeat(3, auto);
}

.alert-success, .alert-error {
    grid-template-columns: repeat(1, auto) !important;
    justify-content: space-around !important;
}

/* Boutons carrés */
[class^="btn-square"] {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 13px;
    cursor: pointer;
}

/* Taille des icones dans les boutons carrés */
[class^="btn-square"] img.icon {
    width: 30%;
    height: 30%;
}

.btn-square-green {
    /* -webkit-box-shadow: 0px 0px 10px 0.5px rgb(0 0 0 / 40%); */
    /* box-shadow: 0px 0px 10px 0.5px rgb(0 0 0 / 40%); */
    box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
}
.btn-square-red {
    -webkit-box-shadow: 0px 0px 5px 0.5px rgb(0 0 0 / 80%) inset;
    box-shadow: 0px 0px 5px 0.5px rgb(0 0 0 / 80%) inset;
}
.btn-square-blue {
    background-color: #5473e8;
}
.btn-square-green {
    background-color: #15bf7f;
}
.btn-square-red {
    background-color: #ff0044;
}
.btn-square-none {
    background-color: #43414100;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-square-blue:hover {
    transition-duration: 0.4s;
    background-color: #4e69cd;
}
.btn-square-green:hover {
    transition-duration: 0.4s;
    background-color: #12a16a;
}
.btn-square-red:hover {
    transition-duration: 0.4s;
    background-color: #dc0044;
}

.top-buttons {
    margin-right: 10px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 5px;
}

.top-buttons div {
    margin: 0 8px 0 8px;
}

.top-buttons img {
    height: 30px;
}

#settings div.flex {
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    column-gap: 5px;
}

.close-btn {
    height: 20px;
    float: right;
    cursor: pointer;
}

[class^="slide-btn"], [class^="round-btn"] {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
    width: auto;
    max-width: 28px;
    height: 28px;
    -webkit-transition: max-width 0.7s;
    transition: max-width 0.7s;
    margin: 0 3px 0 3px;
    color: white;
    background-color: #15bf7f;
    border-radius: 60px;
    cursor: pointer;
}
[class^="slide-btn"]:hover, [class^="round-btn"]:hover {
    max-width: 300px;
    background-color: #12a16a;
}
[class^="round-btn"] {
    max-width: 300px !important;
}
[class^="slide-btn"] img, [class^="round-btn"] img {
    width: 16px;
    padding-left: 6px;
    display: flex;
    align-items: center;
}

[class^="slide-btn"] span, [class^="round-btn"] span {
    white-space: nowrap;
    padding-right: 12px;
    padding-left: 8px;
}
.slide-btn-red, .round-btn-red {
    background-color: #ff0044;
}
.slide-btn-red:hover, .round-btn-red:hover {
    background-color: #dc0044;
}
.slide-btn-yellow, .round-btn-yellow {
    background-color: #eb984e;
}
.slide-btn-yellow:hover, .round-btn-yellow:hover {
    background-color: #eb984e;
}

.main-buttons-container {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    justify-content: space-evenly;
}

.item {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-container {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    align-items: start;
    row-gap: 40px;
    margin: 0px auto 0px auto;
}

#motion-stats-container {
    width: 100%;
    height: 600px;
    margin: 15px auto 15px auto;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    align-items: center;
}

#motion-stats-container div {
    height: 250px !important;
}

#motion-events-captures-container {
    max-height: 600px;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    justify-content: center;
    overflow-x: auto;
    overflow-y: auto;
}

.event-container {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.event-date-container {
    margin: auto;
    width: 100%;
    height: 100%;
}

.event-date {
    display: flex;
    margin-top: 15px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.event-date p:first-child {
    font-size: 18px;
}

.event-time {
    font-size: 22px;
    padding: 10px 10px 10px 0;
    border-right: 1px solid #24405c66;
}

.event-camera {
    width: 100%;
    padding-left: 10px;
    max-height: 500px;
    overflow-y: auto;
}

.event-camera-id {
    background: #15bf7f;
    width: fit-content;
    border-radius: 60px;
    padding: 1px 6px;
}

.event-row {
    margin: 2px 0 0px 4px;
}

.event-id {
    display: block;
    margin-bottom: 15px;
}

.event-running img {
    height: 20px;
}

#events-captures-div, #motion-stats-div, #motion-configuration-div {
    width: 100%;
}

.motion-conf-file-container {
    max-width: 100%;
}

.motion-conf-file-container > div:first-child {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.camera-name {
    width: 200px;
    font-size: 18px;
    padding-right: 10px;
    border-right: 1px solid #24405c66;
}

.camera-name input[type=text] {
    font-size: 18px !important;
    background-color: #182b3e !important;
}

.motion-file-info-btns-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.motion-file-btns {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 35px;
}

.motion-file-btns > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 5px;
}

.motion-configuration-table {
    margin-top: 30px;
}

.motion-configuration-table tr th {
    overflow-wrap: anywhere;
    word-wrap: break-all;
}

#autostart-btn-div, #alert-btn-div {
    display: flex;
    justify-content: center;
}

#alert-btn-div span {
    margin-left: 4px;
    margin-right: 4px;
}

.camera-configuration-div {
    max-width: 100%;
}

.camera-config-table tbody {
    width: 100%;
    display: table;
}

#live-grid-layout-btns {
    display: none;
}

#camera-grid-container {
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-evenly;
    margin: 0px 15px 50px 15px;
    column-gap: 20px;
    row-gap: 20px;
}

[class^="grid-icon"] {
    display: grid;
    width: 18px;
    height: 18px;
}

.grid-icon-2 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2px;
    row-gap: 2px;
}

.grid-icon-3 {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2px;
    row-gap: 2px;
}

.grid-icon-4 {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2px;
    row-gap: 2px;
}

[class^="grid-icon"] div {
    background-color: white;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 !important;
}

.camera-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
    background-color: #182b3e;
    -webkit-box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
    box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
}

.camera-output {
    min-height: 200px;
    height: fit-content;
    margin: auto;
}

.camera-btn-div {
    width: auto;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px 0 15px;
}

.camera-image > img {
    max-width: 100%;
    /* max-height: 100%; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}
.camera-loading, .camera-image, .camera-unavailable {
    width: 100%;
    min-height: 200px;
}

.camera-unavailable, .camera-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #182b3e;
}

.camera-loading img {
    width: 30%;
    height: 30%;
}

.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    height: 100vh;
    max-height: 100vh;
    border-radius: 4px;
    background-color: #182b3e;
    -webkit-box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
    box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
}

.close-full-screen-camera-btn {
    display: none;
    width: fit-content;
    margin: auto;
}

.full-screen img {
    max-height: 80vh;
    display: block !important;
    margin: auto;
}

#new-camera-form, #camera-global-settings-form {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    row-gap: 10px;
    padding: 15px;
}

.hide {
    display: none;
}

footer {
    width: 100%;
    height: 400px;
    flex-grow: 1;
    margin-top: 200px;
    padding-top: 50px;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(109, 109, 109, 0.2);
    background-color:#182b3e;
    text-align: center;
}
footer p { color: gray; }

footer #github img { width: 25px; }

#event-print-file-div {
    position: fixed;
    top: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
}

#event-print-file-container {
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 15px;
    background-color: #112334;
    z-index: 9999;
}

#event-print-file {
    width: fit-content;
    max-width: 99%;
    margin: auto;
}

#event-print-file img, #event-print-file video {
    width: 100%;
    max-height: 90vh;
}

#event-print-file-close-btn {
    display: block;
    margin: auto;
    width: fit-content;
}

.event-media-row {
    min-height: 50px;
    background-color: #182b3e;
    border-radius: 4px;
    border: 1px solid #213446;
    margin-bottom: 4px;
}

.event-media {
    position: relative;
}

.event-media span {
    position: absolute;
    bottom: 6px;
    right: 3px;
}

.event-media img:not(.icon) {
    height: 90px;
}

.event-container:hover .event-media-checkbox {
    visibility: visible;
}

.event-media-checkbox {
    margin-left: 10px;
    margin-right: 20px;
    opacity: 0.5;
    /* visibility: hidden; */
}

.event-media-checkbox:hover {
    opacity: 1;
}

#new-release-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    width: fit-content;
    margin: auto;
}

/* Scrollbar personnalisée */
/* Compatible Chrome uniquement */
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #252525;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #596EB5;
    border-radius: 5px;
}

pre {
    border-radius: 2px;
    background-color: #25394b;
    padding: 2px;
    white-space: pre-wrap;
    line-height: 1.5em;
}

#loginDiv-container {
    height: 90vh;
    position: relative;
}
#loginDiv {
    width: 250px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
#loginDiv h3 {
    margin-left: auto;
    margin-right: auto;
}
#loginDiv form input {
    display: block;
}
#loginDiv div {
    margin: auto;
}

#maintenance-container, #update-log-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: #333333d3;
    z-index: 1;
}

#maintenance, #update-log {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 30px;
    border-radius: 4px;
    background-color: #112334;
    -webkit-box-shadow: 0px 10px 13px -12px #000000, 0px 0px 10px 2px rgba(0,0,0,0.15);
    box-shadow: 0px 10px 13px -12px #000000, 0px 0px 10px 2px rgb(0 0 0 / 15%);
}

#maintenance p {
    font-size: 14px;
    text-align: center;
}

.rotation-wrapper-outer {
    display: table;
}

.rotation-wrapper-inner {
    padding: 50% 0;
    height: 0;
}

.rotate-90 {
    display: block;
    transform-origin: top left;
    /* Note: for a CLOCKWISE rotation, use the commented-out
        transform instead of this one. */
    transform: rotate(-90deg) translate(-100%);
    /* transform: rotate(90deg) translate(0, -100%); */
    margin-top: -50%;

    /* Not vital, but possibly a good idea if the element you're rotating contains
        text and you want a single long vertical line of text and the pre-rotation
        width of your element is small enough that the text wraps: */
    white-space: nowrap;
}

/* Desktop configuration */
@media (min-width:1025px) {
    h3 {
        margin: 70px 0 30px 0;
    }

    .param-slide {
        width: 29.5%;
    }

    .action, .alert-success, .alert-error, .confirmAlert {
        display: grid;
        grid-template-columns: repeat(3, 33%);
    }

    .main-buttons-container {
        grid-template-columns: repeat(4, 25%);
    }

    .main-container {
        grid-template-columns: repeat(1, 95%);
        justify-content: space-around;
    }

    #motion-events-captures-container {
        grid-template-columns: repeat(2, 45%);
        justify-content: space-between;
    }

    #motion-stats-container {
        width: 100%;
    }

    .event-date-container {
        width: 100%;
    }

    .event-media-checkbox {
        visibility: hidden;
    }

    .motion-file-btns {
        width: auto;
    }

    .motion-file-btns > div:first-child {
        flex-direction: row;
    }

    #motion-configuration-div {
        width: 50%;
    }

    #live-grid-layout-btns {
        display: flex;
        align-items: center;
    }

    #camera-grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .top-buttons img {
        height: 20px;
    }
}