body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: #112334;
    color: white;
    overflow-y: auto;
    font-size: 13px;
}

article {
    min-height: 100vh;
}

h3 {
    margin-left: auto;
    margin-right: auto;
}

.config-table {
    border-collapse: separate;
    border-spacing: 4px 0px;
}

.rename-motion-conf-input {
    background-color: #112334 !important;
}

.notification-count, .unseen-events-count {
    position: absolute;
    right: -9px;
    top: -9px;
    width: 15px;
    height: 15px;
    line-height: 15px !important;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: #ff0044;
    text-align: center;
    font-size: 9px;
    font-family: monospace;
    text-decoration: none;
    z-index: 5;
}

.unseen-events-count {
    top: 1px;
}

.param-slide {
    width: 90%;
}

.action, .alert-success, .alert-error, .confirmAlert {
    grid-template-columns: repeat(3, auto);
}

.alert-success, .alert-error {
    grid-template-columns: repeat(1, auto) !important;
    justify-content: space-around !important;
}

/* Boutons carrés */
[class^="btn-square"] {
    width: 125px;
    height: 125px;
    border: none;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 13px;
    cursor: pointer;
}

/* Taille des icones dans les boutons carrés */
[class^="btn-square"] img.icon {
    width: 30%;
    height: 30%;
}

.btn-square-green {
    box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
}
.btn-square-red {
    box-shadow: 0px 0px 5px 0.5px rgb(0 0 0 / 80%) inset;
}
.btn-square-blue {
    background-color: #5473e8;
}
.btn-square-green {
    background-color: #15bf7f;
}
.btn-square-red {
    background-color: #ff0044;
}
.btn-square-none {
    background-color: #43414100;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-square-blue:hover {
    transition-duration: 0.4s;
    background-color: #4e69cd;
}
.btn-square-green:hover {
    transition-duration: 0.4s;
    background-color: #12a16a;
}
.btn-square-red:hover {
    transition-duration: 0.4s;
    background-color: #dc0044;
}

.bottom-buttons, .top-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 50px;
    background-color: #112334;
    box-shadow: 0px -2px 10px 1px rgba(0, 0, 0, 0.394);
}

.top-buttons {
    position: inherit;
    box-shadow: none;
    justify-content: space-between;
    z-index: 20;
}

.bottom-buttons > div {
    display: flex;
    align-items: center;
    height: 95%;
}
.bottom-buttons div.current-tab {
    border-bottom: 1px solid #5473e8;
}

.bottom-buttons img, .top-buttons img {
    height: 30px;
}

#currentload {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

#currentload span {
    font-size: 12px;
}

.close-btn {
    height: 20px;
    float: right;
    cursor: pointer;
}

.main-buttons-container {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    justify-content: space-evenly;
}

.item {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-container {
    width: auto;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    align-items: start;
    /* margin: 0px 40px 0px 40px; */
    margin: 0px 20px 0px 20px;
}

#motion-stats-container {
    width: 100%;
    height: 600px;
    margin: 15px auto 15px auto;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    align-items: center;
}

#motion-stats-container div {
    height: 250px !important;
}

#motion-events-captures-container {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    justify-content: center;
    overflow-x: auto;
    overflow-y: auto;
}

#motion-events-captures-acquit-container {
    position: fixed;
    bottom: 80px;
    right: 20px;
}

.event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 10px;
}

.event-date-container {
    margin: auto;
    width: 100%;
    height: 100%;
}

.event-date {
    display: flex;
    margin-top: 15px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.event-date p:first-child {
    font-size: 18px;
}

.event-previous-next-btns {
    display: flex;
    column-gap: 10px;
    justify-content: center;
}

.event-time {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-time p {
    font-size: 16px;
}

.event-camera {
    width: 100%;
    max-height: 800px;
    overflow-y: auto;
}

.event-row {
    margin: 2px 0 0px 4px;
}

.event-id {
    display: block;
    margin-bottom: 15px;
}

.event-running img, .event-loading img {
    height: 20px;
}

#events-captures-div, #motion-stats-div, #motion-configuration-div {
    width: 100%;
}

.motion-conf-file-container {
    max-width: 100%;
}

.motion-conf-file-container > div:first-child {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.camera-name {
    width: 200px;
    font-size: 18px;
    padding-right: 10px;
    border-right: 1px solid #24405c66;
}

.camera-name input[type=text] {
    font-size: 18px !important;
    background-color: #182b3e !important;
}

.motion-file-info-btns-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.motion-file-btns {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 35px;
}

.motion-file-btns > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 5px;
}

#autostart-btn-div, #alert-btn-div {
    display: flex;
    justify-content: center;
}

#alert-btn-div span {
    margin-left: 4px;
    margin-right: 4px;
}

.camera-configuration-div {
    max-width: 100%;
}

.camera-config-table tbody {
    width: 100%;
    display: table;
}

/* do not display the grid layout buttons on mobile */
#live-grid-layout-btns {
    display: none;
}

#camera-grid-container {
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-evenly;
    margin: 0px 0px 50px 0px;
    column-gap: 20px;
    row-gap: 20px;
}

[class^="grid-icon"] {
    display: grid !important;
    width: 18px;
    height: 18px;
}

.grid-icon-2 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2px !important;
    row-gap: 2px;
}

.grid-icon-3 {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2px !important;
    row-gap: 2px;
}

.grid-icon-4 {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2px !important;
    row-gap: 2px;
}

[class^="grid-icon"] div {
    background-color: white;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 !important;
}

.add-camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    border-radius: 8px;
}

.add-camera-container:hover {
    border: 1px solid #213446;
}

.add-camera-container img {
    width: 50px;
    height: 50px;
}

.camera-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    background-color: #182b3e;
    -webkit-box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
    box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
}

.camera-output {
    min-height: 200px;
    height: fit-content;
    margin: auto;
}

.camera-btn-div {
    width: auto;
    /* height: 65px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 15px;
}

.camera-image > img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}
.camera-image-text-left, .camera-image-text-right {
    position: absolute;
    font-family: monospace;
    display: flex;
    flex-direction: column;
}
.camera-image-text-left {
    left: 5px;
    bottom: 5px;
}
.camera-image-text-right {
    right: 5px;
    bottom: 5px;
}
.camera-loading, .camera-image, .camera-unavailable {
    width: 100%;
    min-height: 200px;
}
.camera-unavailable, .camera-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #182b3e;
}
.camera-loading img {
    width: 30%;
    height: 30%;
}
#timelapse, .full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 100vh;
    max-height: 100vh;
    background-color: #182b3e;
    -webkit-box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
    box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
}
#timelapse-picture-container {
    display: flex;
    align-items: center;
    height: 50vh;
}
#timelapse-picture {
    max-height: 100%;
    max-width: 100vw;
    border-radius: 2px;
}
#timelapse #picture-slider {
    width: 85vw;
}
.close-timelapse-btn, .close-full-screen-btn {
    width: 50px;
    height: 50px;
    margin: auto;
}
.full-screen img {
    max-height: 85vh;
    max-width: 100vw;
    display: block !important;
    margin: auto;
    border-radius: 2px;
}

.hide {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;
    width: auto;
    height: 300px;
    flex-grow: 1;
    margin-top: 100px;
    padding: 30px 15px 50px 15px;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(109, 109, 109, 0.2);
    background-color:#182b3e;
}

footer #github img { width: 25px; }

.event-print-file-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #112334;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.event-print-file {
    width: fit-content;
    max-width: 99%;
    margin: auto;
}

.event-print-file img, .event-print-file video {
    width: 100%;
    max-height: 90vh;
}

.event-media-row {
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
    height: 80px;
    background-color: #182b3e;
    border-radius: 8px;
    border: 1px solid #213446;
    margin-bottom: 8px;
}

.event-media-row > div:first-child {
    display: grid;
    grid-template-columns: 150px minmax(auto, 50%);
    column-gap: 5px;
    align-items: center;
}

.event-media {
    position: relative;
}

/* Event media full time */
.event-media-file-number {
    position: absolute;
    top: 2px;
    left: 3px;
}

/* Event media type (image or video) and file size */
.event-media-file-type {
    position: absolute;
    bottom: 6px;
}

.event-media img:not(.icon) {
    height: 80px;
}

.event-media-metadata {
    min-width: 90px;
}

.event-container:hover .event-media-checkbox {
    visibility: visible;
}

.event-media-checkbox {
    opacity: 0.5;
}

.event-media-checkbox:hover {
    opacity: 1;
}

.file-unavailable {
    background: #181818de;
    padding: 15px 20px 25px 20px;
    border-radius: 4px;
}

.file-unavailable p {
    text-align: center;
}

/* Scrollbar personnalisée */
/* Compatible Chrome uniquement */
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #252525;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #596EB5;
    border-radius: 5px;
}

#loginDiv-container {
    height: 90vh;
    position: relative;
}

#loginDiv {
    width: 250px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
#loginDiv img {
    max-width: 80px;
}
#loginDiv h3 {
    margin-left: auto;
    margin-right: auto;
}
#loginDiv form input {
    display: block;
}
#loginDiv div {
    margin: auto;
}

.rotation-wrapper-outer {
    display: table;
}

.rotation-wrapper-inner {
    padding: 50% 0;
    height: 0;
}

.rotate-90 {
    display: block;
    transform-origin: top left;
    /* Note: for a CLOCKWISE rotation, use the commented-out
        transform instead of this one. */
    transform: rotate(-90deg) translate(-100%);
    /* transform: rotate(90deg) translate(0, -100%); */
    margin-top: -50%;

    /* Not vital, but possibly a good idea if the element you're rotating contains
        text and you want a single long vertical line of text and the pre-rotation
        width of your element is small enough that the text wraps: */
    white-space: nowrap;
}

/**
 *  Full page loading veil
 */
.body-veil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #112334;
    border-radius: 8px;
    z-index: 90;
}

.body-veil img:first-child {
    width: 120px;
    height: 120px;
    opacity: 0.1;
}

.body-veil img:last-child {
    width: 20px;
    height: 20px;
    opacity: 0.8;
}

/* Desktop configuration */
@media (min-width:1025px) {
    h3 {
        margin-left: 0px;
    }

    .param-slide {
        width: 29.5%;
    }

    .action, .alert-success, .alert-error, .confirmAlert {
        display: grid;
        grid-template-columns: repeat(3, 33%);
    }

    .main-buttons-container {
        grid-template-columns: repeat(3, 30%);
    }

    [class^="btn-square"] {
        width: 170px;
        height: 170px;
    }

    .main-container {
        grid-template-columns: repeat(1, 100%);
        justify-content: space-around;
    }

    #timelapse-picture-container {
        height: 70vh;
    }

    #motion-events-captures-container {
        grid-template-columns: repeat(2, 45%);
        justify-content: space-between;
    }

    #motion-stats-container {
        width: 100%;
    }

    .event-date-container {
        width: 100%;
    }

    .event-container {
        display: flex;
        flex-direction: row;
    }

    .event-previous-next-btns {
        justify-content: flex-end;
    }

    .event-time {
        padding: 0 10px;
    }

    .event-time p {
        font-size: 22px;
    }

    .event-camera {
        padding-left: 10px;
    }

    .event-media-checkbox {
        visibility: hidden;
    }

    .motion-file-btns {
        width: auto;
    }

    .motion-file-btns > div:first-child {
        flex-direction: row;
    }

    #motion-configuration-div {
        width: 50%;
    }

    #live-grid-layout-btns {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    #live-grid-layout-btns > div:first-child {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 12px;
        margin-right: 15px;
    }

    #camera-grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .bottom-buttons {
        justify-content: center;
        align-items: center;
        column-gap: 80px;
    }
}